{% comment %} ATTENTION!!! This is compiled version of ea-snippet-product-stickybar.liquid and it is overriding automatically. You should use theme development tool and sources\snippets\ea-snippet-product-stickybar.liquid file to code and save your changes. {% endcomment %}{% render 'ea-section-styles', section: section %}

<div class="sinnept-product-sticky">
  <div class="sticky">
    <ul class="anchors-items">
      {% for i in (1..5) %}
        {% assign title = 'title' | append: forloop.index %}
        {% assign sp_title = 'sp_title' | append: forloop.index %}
        {% assign path = 'url' | append: forloop.index %}
        {% if settings[sp_title] == blank %}
          {% assign sp_title = settings[title]  %}
        {% else %}
          {% assign sp_title = settings[sp_title]  %}
        {% endif %}
        <li class="anchors-item">
          <a href="{% if settings[path] != '#product-tech' %}{{ settings[path] }}{% endif %}" class="product-sticky-bar hide--mobile" {% if settings[path] != '#product-tech' %}data-sticky-bar{{i}}{% endif %}>{{ settings[title] | upcase }}</a>
          <a href="{% if settings[path] != '#product-tech' %}{{ settings[path] }}{% endif %}" class="product-sticky-bar hide--desktop" {% if settings[path] != '#product-tech' %}data-sticky-bar{{i}}{% endif %}>{{ sp_title | upcase }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="action-btn-c hide--mobile">
      <a class="add-cart sticky-add-to-cart {% if product.available %} available {% else %} none-available {% endif %}"><span class=" {% if product.available %} available {% else %} none-available {% endif %}" href="{{ product.url }}" data-id="{{product.id}}" data-sticky-atc-btn>{% if product.available %}add <svg xmlns="http://www.w3.org/2000/svg" width="19.496" height="13.01" viewBox="0 0 19.496 13.01"> <path fill="#fff" d="M39.527 29.5a1.087 1.087 0 0 0-.3-.762l-5.42-5.42a1.084 1.084 0 1 0-1.541 1.524l3.574 3.574H21.115a1.084 1.084 0 0 0 0 2.168h14.72l-3.574 3.574a1.084 1.084 0 1 0 1.539 1.523l5.42-5.42a1.087 1.087 0 0 0 .3-.762z" transform="translate(-20.031 -22.987)"/> </svg>{% else %} Sold Out {% endif %}</span></a>
    </div>
  </div>
</div>
