{% comment %} ATTENTION!!! This is compiled version of blog-main-recipe.liquid and it is overriding automatically. You should use theme development tool and sources\sections\blog-main-recipe.liquid file to code and save your changes. {% endcomment %}{% comment %} ATTENTION!!! This is compiled version of blog-main.liquid and it is overriding automatically. You should use theme development tool and sources\sections\blog-main.liquid file to code and save your changes. {% endcomment %}{% if section.settings.visible %}

{% render 'ea-section-styles', section: section %}

<div class="section_container">
  {%- comment -%}
  <div class="hero-container">
    <div id="section-{{ section.id }}" class="hero">
        <div class="hero__container container">
            <div class="hero__info-wrap">
                <div class="hero__info {{ section.settings.content_position }} text-align-{{ section.settings.text_align }} mobile_{{ section.settings.content_position_mobile }} mob-text-align-{{ section.settings.mob_text_align }}">
                    {% assign title = section.settings.title %}
                    {% assign subtitle = section.settings.text %}
                    {% assign mob_subtitle = section.settings.mob_text %}

                    {% if title != blank %}   
                        <h1 class="hero__title title m-heavy not-animated" style="color: {{ section.settings.text_color }}">{{ title }}</h1>
                    {% endif %}

                    {% if subtitle != blank %}
                        <div class="subtitle hide--mobile not-animated {% if set.subtitle_large %}h3{% endif %}" style="color: {{ section.settings.text_color }}">{{ subtitle }}</div>
                    {% endif %}

                    {% if mob_subtitle != blank %}
                        <div class="subtitle hide--desktop not-animated {% if set.subtitle_large %}h3{% endif %}" style="color: {{ section.settings.text_color }}">{{ mob_subtitle }}</div>
                    {% endif %}

                </div>
            </div>   
            {% assign image = section.settings.image %}
            {% assign mob_image = section.settings.mob_image | default: image %}
            <div class="hero__img hide--mobile">
              {% render 'rimage', image: image, size: '2000x' %}
            </div>
            <div class="hero__img hide--desktop">
              {% render 'rimage', image: mob_image, size: '800x' %}
            </div>
        </div> 
    </div> 
  </div>
  {%- endcomment -%}

  <div class="blog_wrapper container">
    <div class="blog_hero_wrapper d-flex">
      {% for block in section.blocks %}
        {% if block.type == "blog" %}
        {% assign blog = blogs[block.settings.blog] %}
        {% assign handle = blog.title %}        
        <div class="blog_hero {% if forloop.first == true %}  {% endif %}" data-type="{{ handle | replace: ' ', '-' }}">
          <div class="hero--info-wrap" {% if section.settings.bg_color %}style="background: {{section.settings.bg_color}}"{% endif %}>
            <div class="hero__info {{ section.settings.content_position }} text-align-{{ section.settings.text_align }} mobile_{{ section.settings.content_position_mobile }} mob-text-align-{{ section.settings.mob_text_align }}">
              {% assign title = block.settings.title %}
              {% assign subtitle = block.settings.sub_title %}

              {% if title != blank %}   
                  <h1 class="hero__title title m-heavy not-animated" style="color: {{ section.settings.text_color }}">{{ title }}</h1>
              {% endif %}

              {% if subtitle != blank %}
                  <div class="subtitle hide--mobile not-animated {% if set.subtitle_large %}h3{% endif %}" style="color: {{ section.settings.text_color }}">{{ subtitle }}</div>
              {% endif %}

              <div class="recipes-search-wrapper hide--mobile">
                <input type="text" class="recipes-search" placeholder="Search our recipes">
                <svg xmlns="http://www.w3.org/2000/svg" width="20.556" height="20.556" viewBox="0 0 20.556 20.556">
                  <defs>
                    <style>
                      #np_search_1594154_000000 {
                        fill: #0c0404;
                      }
                    </style>
                  </defs>
                  <path id="np_search_1594154_000000"  d="M52.388,51.581a.571.571,0,0,1-.807.807l-6.15-6.15a.325.325,0,0,0-.424-.022s-.094.08-.259.2a7.992,7.992,0,1,1,1.738-1.762c-.143.2-.27.348-.27.348a.323.323,0,0,0,.022.426ZM39.994,46.846a6.852,6.852,0,1,0-6.852-6.852A6.851,6.851,0,0,0,39.994,46.846Z" transform="translate(-31.999 -32)"/>
                </svg>
              </div>
  
              <div class="recipe-blog-switcher hide--desktop">
                <label class="switcher-label">Here for?</label>
                <div class="recipe-blog-switcher_buttons">
                  <div class="recipe-blog-switcher_button active" data-target="recipes">
                    Recipes
                  </div>
                  <div class="recipe-blog-switcher_button" data-target="news">
                    News
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% assign image = block.settings.hero_image %}
          {% assign mob_image = block.settings.hero_mob_image | default: image %}
          {% if image != blank %}
            <div class="hero--img hide--mobile">
              {% render 'rimage', image: image, size: '2000x' %}
            </div>
          {% else %}
            <div class="hero--img hide--mobile">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}          
        </div>
        {% endif %}
      {% endfor %}
      
      <div class="blog_hero active" data-type="all">
        <div class="hero--info-wrap" {% if section.settings.bg_color %}style="background: {{section.settings.bg_color}}"{% endif %}>
          <div class="hero__info {{ section.settings.content_position }} text-align-{{ section.settings.text_align }} mobile_{{ section.settings.content_position_mobile }} mob-text-align-{{ section.settings.mob_text_align }}">
            {% assign title = section.settings.title %}
            {% assign subtitle = section.settings.sub_title %}

            {% if title != blank %}   
                <h1 class="hero__title title m-heavy not-animated" style="color: {{ section.settings.text_color }}">{{ title }}</h1>
            {% else %}
                <h1 class="hero__title title m-heavy not-animated" style="color: {{ section.settings.text_color }}">Our recipes</h1>
            {% endif %}

            {% if subtitle != blank %}
                <div class="subtitle hide--mobile not-animated {% if set.subtitle_large %}h3{% endif %}" style="color: {{ section.settings.text_color }}">{{ subtitle }}</div>
            {% endif %}

            <div class="recipes-search-wrapper hide--mobile">
              <input type="text" class="recipes-search" placeholder="Search our recipes">
              <svg xmlns="http://www.w3.org/2000/svg" width="20.556" height="20.556" viewBox="0 0 20.556 20.556">
                <defs>
                  <style>
                    #np_search_1594154_000000 {
                      fill: #0c0404;
                    }
                  </style>
                </defs>
                <path id="np_search_1594154_000000"  d="M52.388,51.581a.571.571,0,0,1-.807.807l-6.15-6.15a.325.325,0,0,0-.424-.022s-.094.08-.259.2a7.992,7.992,0,1,1,1.738-1.762c-.143.2-.27.348-.27.348a.323.323,0,0,0,.022.426ZM39.994,46.846a6.852,6.852,0,1,0-6.852-6.852A6.851,6.851,0,0,0,39.994,46.846Z" transform="translate(-31.999 -32)"/>
              </svg>
            </div>

            <div class="recipe-blog-switcher hide--desktop">
              <label class="switcher-label">Here for?</label>
              <div class="recipe-blog-switcher_buttons">
                <div class="recipe-blog-switcher_button active" data-target="recipes">
                  Recipes
                </div>
                <div class="recipe-blog-switcher_button" data-target="news">
                  News
                </div>
              </div>
            </div>

          </div>
        </div>   
        {% assign image = section.settings.hero_image %}
        {% assign mob_image = section.settings.hero_mob_image | default: image %}
        {% if image != blank %}
          <div class="hero--img hide--mobile">
            {% render 'rimage', image: image, size: '2000x' %}
          </div>
        {% else %}
          <div class="hero--img hide--mobile">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endif %}
      </div>
    </div> 
    <div class="hide--desktop blog_header-swipe">
      <div class="swipe-text">swipe left to see more.</div>
    </div>
    <div class="blog_header">
      {% assign header_count = section.blocks.size %}    

      <div class="header_wrapper {% if header_count < 7 %}d-flex{% endif %}" {% if header_count > 6 %}data-header-slider{% endif %} data-mob-header-slider>
        <div class="blog_header_item blog_header_item--first active" data-type="all">All</div>
        {% for block in section.blocks %}
          {% if block.type == "blog" %}
          {% assign blog = blogs[block.settings.blog] %}
          {% assign title = block.settings.blog_title | default: blog.title %}
          {%- capture submenu -%}
            {%- assign blog_tags = section.blocks | where: "type", "sub-blog" -%}
            {%- for subblock in blog_tags -%}
              {%- if block.settings.blog == subblock.settings.parent_blog -%}
              <a href="{{ blog.url }}/tagged/{{ subblock.settings.blog_tag | handleize }}" data-level="2" data-type-tag="{{ subblock.settings.blog_tag | handleize }}">{{ subblock.settings.blog_tag }}</a>
              {%- endif -%}
            {%- endfor -%}
          {%- endcapture -%}
            <div class="blog_header_item {% if forloop.first == true %} {% endif %} {% if submenu != blank %}has-sub-menu{% endif %}" data-type="{{ blog.title | replace: ' ', '-' }}" data-level="1">
              <div class="titlewrap {% if submenu != blank %}title_with_submenu{% endif %}">
                {{ title }}
                {% if submenu != blank %}
                <div class="right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18.02" height="9.37" viewBox="0 0 18.02 9.37">
                    <path d="M23.052 36.4l-.72.72 8.65 8.65h.72l8.65-8.65-.72-.72-8.29 8.29z" transform="rotate(180 20.176 22.883)"></path>
                  </svg>
                </div>
                {% endif %}
              </div>

              {% if submenu != blank %}
                <div class="blog_header_item_submenu">
                  {{ submenu }}
                </div>
              {% endif %}
            </div>        
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="blog_desc_wrap d-flex">
      {% for block in section.blocks %}
        {% if block.type == "blog" %}
        {% assign blog = blogs[block.settings.blog] %}
        {% assign title = block.settings.blog_title | default: blog.title %}
        {% assign desc = block.settings.desc  %}
        <div class="blog_desc {% if forloop.first == true %}  {% endif %}" data-type="{{ blog.title | replace: ' ', '-' }}">
          {{ desc }}
        </div>
        {% endif %}
      {% endfor %}

      <div class="blog_desc active" data-type="all">
        {{ section.settings.desc }}
      </div>
    </div>

    <div class="blog_search_wrap hide--desktop">
      <div class="recipes-search-wrapper">
        <input type="text" class="recipes-search" placeholder="Search our recipes">
        <svg xmlns="http://www.w3.org/2000/svg" width="20.556" height="20.556" viewBox="0 0 20.556 20.556">
          <defs>
            <style>
              #np_search_1594154_000000 {
                fill: #0c0404;
              }
            </style>
          </defs>
          <path id="np_search_1594154_000000"  d="M52.388,51.581a.571.571,0,0,1-.807.807l-6.15-6.15a.325.325,0,0,0-.424-.022s-.094.08-.259.2a7.992,7.992,0,1,1,1.738-1.762c-.143.2-.27.348-.27.348a.323.323,0,0,0,.022.426ZM39.994,46.846a6.852,6.852,0,1,0-6.852-6.852A6.851,6.851,0,0,0,39.994,46.846Z" transform="translate(-31.999 -32)"/>
        </svg>
      </div>
    </div>
    

    <div class="blog_content hide--mobile" data-article-slider>
      {% for block in section.blocks %}
        {% if block.type == "blog" %}
        {% assign blog = blogs[block.settings.blog] %}
        {% assign title = block.settings.blog_title | default: blog.title %}
        {% for article in blog.articles %}
          {% render 'post-cell-custom', handle: blog.title, article: article, blog: blog %}
        {% endfor %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="blog_content hide--desktop">
      {% for block in section.blocks %}
        {% if block.type == "blog" %}
        {% assign blog = blogs[block.settings.blog] %}
        {% assign title = block.settings.blog_title | default: blog.title %}
        {% for article in blog.articles %}
          {% render 'post-cell-custom-mobile', handle: blog.title, article: article, blog: blog %}
        {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
</div>


{% endif %}

{% schema %}
{
"name": "Blog",
"class": "blog-tab shopify-section-blog-main",
"tag": "section",
"settings": [
  {
    "type": "checkbox",
    "id": "visible",
    "label": "Show block",
    "default": true
  },
  {
    "type": "header",
    "content": "Spacing"
  },
  {
    "type": "range",
    "id": "ptop",
    "label": "Top spacing desktop",
    "min": 0,
    "unit": "px",
    "max": 500,
    "step": 5,
    "default": 45
  },
  {
    "type": "range",
    "id": "pbottom",
    "label": "Bottom spacing desktop",
    "min": 0,
    "unit": "px",
    "max": 500,
    "step": 5,
    "default": 45
  },
  {
    "type": "range",
    "id": "ptop_mob",
    "label": "Top spacing mobile",
    "min": 0,
    "unit": "px",
    "max": 500,
    "step": 5,
    "default": 45
  },
  {
    "type": "range",
    "id": "pbottom_mob",
    "label": "Bottom spacing mobile",
    "min": 0,
    "unit": "px",
    "max": 500,
    "step": 5,
    "default": 45
  },
  {
    "type": "header",
    "content": "Background"
  },
  {
    "type": "color",
    "id": "sectionbg",
    "label": "Background",
    "default": "#fff"
  },
  {
    "type": "header",
    "content": "Content"
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "image_picker",
    "id": "mob_image",
    "label": "Mobile Image"
  },
  {
    "type": "select",
    "id": "content_position",
    "label": "Content Position",
    "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
    ],
    "default": "middle-center"
  },
  {
    "type": "select",
    "id": "content_position_mobile",
    "label": "Content Position on Mobile",
    "options": [
      {
        "value": "top-left",
        "label": "Top Left"
      },
      {
        "value": "top-center",
        "label": "Top Center"
      },
      {
        "value": "top-right",
        "label": "Top right"
      },
      {
        "value": "middle-left",
        "label": "Middle Left"
      },
      {
        "value": "middle-center",
        "label": "Middle Center"
      },
      {
        "value": "middle-right",
        "label": "Middle Right"
      },
      {
        "value": "bottom-left",
        "label": "Bottom Left"
      },
      {
        "value": "bottom-center",
        "label": "Bottom Center"
      },
      {
        "value": "bottom-right",
        "label": "Bottom Right"
      }
    ],
    "default": "middle-center"
  },
  {
    "type": "text",
    "id": "main_title",
    "label": "Title"
  },
  {
    "type": "richtext",
    "id": "text",
    "label": "Text"
  },
  {
    "type": "richtext",
    "id": "mob_text",
    "label": "Text (Mobile)"
  },
  {
    "type": "select",
    "id": "text_align",
    "options": [
      {
        "label": "Left",
        "value": "left"
      },
      {
        "label": "Center",
        "value": "center"
      },
      {
        "label": "Right",
        "value": "right"
      }
    ],
    "default": "left",
    "label": "Text Alignment"
  },
  {
    "type": "select",
    "id": "mob_text_align",
    "options": [
      {
        "label": "Left",
        "value": "left"
      },
      {
        "label": "Center",
        "value": "center"
      },
      {
        "label": "Right",
        "value": "right"
      }
    ],
    "default": "center",
    "label": "Text Alignment on Mobile"
  },
  {
    "type": "header",
    "content": "Colors"
  },
  {
    "type": "paragraph",
    "content": "Text"
  },
  {
    "type": "color",
    "id": "text_color",
    "label": "Text Color",
    "default": "#fffdfc"
  },
  {
    "type": "color",
    "id": "bg_color",
    "label": "Text Background Color",
    "default": "#fffdfc"
  },
  {
    "type": "header",
    "content": "All settings"
  },
  {
    "type": "image_picker",
    "id": "hero_image",
    "label": "Image"
  },
  {
    "type": "image_picker",
    "id": "hero_mob_image",
    "label": "Mobile Image"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "richtext",
    "id": "sub_title",
    "label": "Sub Title"
  },
  {
    "type": "richtext",
    "id": "desc",
    "label": "Blog Description"
  }
],
"blocks": [
  {
    "type": "blog",
    "name": "Blog",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "hero_mob_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "sub_title",
        "label": "Sub Title"
      },
      {
        "type": "paragraph",
        "content": "Blog"
      },
      {
        "type": "text",
        "id": "blog_title",
        "label": "Blog Title"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "richtext",
        "id": "desc",
        "label": "Blog Description"
      }
    ]
  },
  {
    "type": "sub-blog",
    "name": "Sub Blog",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "blog",
        "id": "parent_blog",
        "label": "Parent Blog"
      },
      {
        "type": "text",
        "id": "blog_tag",
        "label": "Blog tag"
      }
    ]
  }
]
}
{% endschema %}