{% comment %} ATTENTION!!! This is compiled version of ea-product-tech-spec.liquid and it is overriding automatically. You should use theme development tool and sources\sections\ea-product-tech-spec.liquid file to code and save your changes. {% endcomment %}{% assign set = section.settings %}

{% render 'ea-section-styles' %}

<div class="section has-image" id="section-tech_spec">
  <div class="section-tech_spec_top">
    <div class="container">
      <div class="section-tech_spec_main">
        {% assign property_blocks = section.blocks | where: 'type', 'property' %}
        <div class="section-tech_spec_left">Tech Specs</div>
        <div class="section-tech_spec_right">
          <div class="section-tech_spec_title">{{ product.title }}</div>
          <div class="section-tech_spec_blocks">
            {{ product.metafields.global.spec }}
            {% comment %}
              {% for block in property_blocks %}
                <div class="section-tech_spec_block" data-animate-block>
                  <div class="section-tech_spec_blockname">{{ block.settings.name }}</div>
                  <div class="section-tech_spec_blockvalue">{{ block.settings.value }}</div>
                </div>
              {% endfor %}
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-tech_spec_bottom">
    <div class="container">
      {% comment %}<div class="section-tech_spec_main">
        {% assign icon_blocks = section.blocks | where: 'type', 'icon' %}
        <div class="section-tech_spec_left">{{ set.subtitle}}</div>
        <div class="section-tech_spec_right">
          {% for block in icon_blocks %}
            <div class="section-tech_spec_block" data-animate-block>
              <div class="section-tech_spec_blockicon">{{ block.settings.icon }}</div>
              <div class="section-tech_spec_blocktext">{{ block.settings.txt }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
      <hr class="section-tech_spec_hr">{% endcomment %}
      <div class="section-tech_spec_download_title">{{ set.subtitle}}
        <div class="section-tech_spec_download"><a href="{{ set.url }}" target="blank">{{ set.button }}<svg height="18pt" viewbox="0 0 512 512" width="18pt" xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px;"><path d="m256 362.667969c-8.832031 0-16-7.167969-16-16v-330.667969c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v330.667969c0 8.832031-7.167969 16-16 16zm0 0"></path><path d="m256 362.667969c-4.097656 0-8.191406-1.558594-11.308594-4.695313l-85.332031-85.332031c-6.25-6.25-6.25-16.382813 0-22.636719 6.25-6.25 16.382813-6.25 22.636719 0l74.023437 74.027344 74.027344-74.027344c6.25-6.25 16.386719-6.25 22.636719 0 6.25 6.253906 6.25 16.386719 0 22.636719l-85.335938 85.332031c-3.15625 3.136719-7.25 4.695313-11.347656 4.695313zm0 0"></path><path d="m453.332031 512h-394.664062c-32.363281 0-58.667969-26.304688-58.667969-58.667969v-96c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v96c0 14.699219 11.96875 26.667969 26.667969 26.667969h394.664062c14.699219 0 26.667969-11.96875 26.667969-26.667969v-96c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v96c0 32.363281-26.304688 58.667969-58.667969 58.667969zm0 0"></path></svg></a></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Product Tech Spec",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Bottom Title"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Url"
    }
  ]
}
{% endschema %}