{% comment %} ATTENTION!!! This is compiled version of ea-section-products-store-locator.liquid and it is overriding automatically. You should use theme development tool and sources\sections\ea-section-products-store-locator.liquid file to code and save your changes. {% endcomment %}{% assign set = section.settings %}

{% render 'ea-section-styles' %}

<div class="section has-image" id="section-homeproduct">
  <div class="container">
    {% if set.title != blank or set.index != blank %}
    <div class="section-homeproduct_main">
      {% if set.title != blank %}
        <div class="section-homeproduct_title">{{ set.title }}</div>
      {% endif %}
      {% if set.index != blank %}
        <div class="section-homeproduct_index">{{ set.index }}</div>
      {% endif %}
    </div>
    {% endif %}
      <div class="section-homeproduct_blocks" data-hor-slider data-small-divice-only="1" data-arrows="true">
        {% for block in section.blocks %}
          {% assign product = all_products[block.settings.product] %}
          <div class="section-homeproduct_block d-flex">
            <div class="h-350">
              <div class="section-homeproduct_image">
                {% if product != blank %}
                  <a href="{{ product.url }}">
                {% endif %}
                {% if block.settings.image == blank %}
                  {% comment %}<img src="{{ product.featured_image  | img_url: 'master' }}" class="Rectangle-1600">{% endcomment %}
                  {% render 'rimage', image: product.featured_image, size: '480x', wrapper_class: 'Rectangle-1600' %}
                {% else %}
                  {% comment %}<img src="{{ block.settings.image | img_url: 'master' }}" class="Rectangle-1600">{% endcomment %}
                  {% render 'rimage', image: block.settings.image, size: '480x', wrapper_class: 'Rectangle-1600' %}
                {% endif %}
                {% if product != blank %}
                  </a>
                {% endif %}
              </div>

              <div class="section-homeproduct_productitle">
                {% if product != blank %}
                  <a href="{{ product.url }}">
                {% endif %}
                  {% if block.settings.title == blank %}
                    {{ product.title }}
                  {% else %}
                    {{ block.settings.title }}
                  {% endif %}
                {% if product != blank %}
                  </a>
                {% endif %}
              </div>
            </div>

            <div class="section-homeproduct_info">
              <div class="section-homeproduct_desc">
                {% if block.settings.desc == blank %}
                  {{ product.description }}
                {% else %}
                  {{ block.settings.desc }}
                {% endif %}
              </div>

              <div class="section-homeproduct_price">
                {% if block.settings.price == blank %}
                  {% if product.compare_at_price != blank and product.compare_at_price > product.price %}
                    <span class="compare-at-price">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                  
                  {{ product.price | money}}
                {% else %}
                  {{ block.settings.price | times: 100 | money}}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="about-tech-slider_content hide--desktop">Swipe <br> left or right.</div>
  </div>
</div>

{% schema %}
  {
    "name": "Section Featured Products",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "color",
        "id": "sectionbg",
        "label": "Section background color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
  
      
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "index",
        "label": "Index"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Price Block",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "price", 
            "label": "Price"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title", 
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "desc", 
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product List",
        "category": "custom"
      }
    ]
  }
{% endschema %}